.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #0000;
}

.header-container {
    background-color: whitesmoke;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #00ff00;
  font-family: 'Arial', sans-serif;
  font-size: 2rem;
  margin: 0;
  z-index: 10;
  text-align: center;
}

p {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  color: #00cc00;
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  margin: 0;
  z-index: 10;
  text-align: center;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}
